doctype html
html
    head
        meta(charset="utf-8")
        title= `${book.name} (${(book.author)})`
        link(rel='stylesheet', href='/styles/book.css')
    body
        include header.pug
        div
            = `${book.id}: ${book.title} (${book.author})`